<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main.html">

<div layout:fragment="mainFragment">


    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="${folder.name}">Folder Name</h5>
                <div>
            <span class="category-tag"
            >Category 1
              <input
                      type="button"
                      value="X"
                      class="bg-primary text-white border-0"
              /></span>
                    <span class="category-tag"
                    >Category 2
              <input
                      type="button"
                      value="X"
                      class="bg-primary text-white border-0"
              /></span>
                    <!-- Другие категории -->
                    <button class="add-category-btn">Add category</button>
                </div>
            </div>
        </div>
        <button
                class="btn btn-primary new-folder-btn"
                data-toggle="modal"
                data-target="#addFolderModal"
        >
            + New Task
        </button>
        <button
                class="btn btn-danger"
                data-toggle="modal"
                data-target="#deleteFolder"
        >
            Delete folder
        </button>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" colspan="4">Task name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="t : ${tasks}">
                        <th scope="row" th:text="${t.id}">1</th>
                        <td colspan="4" th:text="${t.title}">Larry the Bird</td>
                        <td th:class="'status status-' + ${t.status}" th:if="${t.status == 0}">TO DO</td>
                        <td th:class="'status status-' + ${t.status}" th:if="${t.status == 1}">IN TEST</td>
                        <td th:class="'status status-' + ${t.status}" th:if="${t.status == 2}">DONE</td>
                        <td th:class="'status status-' + ${t.status}" th:if="${t.status == 3}">FAILED</td>
                        <td><input type="button" class="btn btn-primary" data-toggle="modal"
                                   th:data-target="'#task-' + ${t.id}" value="Details"></td>


                        <div
                                class="modal fade"
                                th:id="'task-' + ${t.id}"
                                tabindex="-1"
                                role="dialog"
                                aria-labelledby="addFolderModalLabel"
                                aria-hidden="true"
                        >
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="taskModalLabel">ADD NEW FOLDER</h5>
                                        <button
                                                type="button"
                                                class="close"
                                                data-dismiss="modal"
                                                aria-label="Close"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="post" action="/updateTask">
                                        <div class="modal-body">

                                            <div class="form-group">
                                                <!--                            <label>-->
                                                <!--                                <select name="folder.id" class="form form-select" >-->
                                                <!--                                    <option  th:value="${folder.id}" th:text="${folder.name}">title</option>-->
                                                <!--                                </select>-->
                                                <!--                            </label>-->

                                                <input type="hidden" name="folder.id" th:value="${folder.id}">
                                                <input type="hidden" name="id" th:value="${t.id}">


                                                <label for="folderName">Task Name</label>
                                                <input
                                                        type="text"
                                                        class="form-control"
                                                        id="task Name"
                                                        name="title"
                                                        placeholder="Enter task name"
                                                        readonly
                                                        th:value="${t.title}"
                                                />
                                            </div>
                                            <div data-mdb-input-init class="form-outline">
                                                <label class="form-label" for="textAreaExample">Message</label>
                                                <textarea class="form-control" name="description" id="description"
                                                          rows="4" th:text="${t.description}" readonly></textarea>
                                            </div>

                                            <label class="form-label" for="status">status</label>
                                            <select name="status" class="form-control" id="status" th:disabled="${t.status == 2 || t.status == 3} ? true : false">
                                                <option value="0" th:selected="${t.status == 0} ? true : false">TO DO</option>
                                                <option value="1" th:selected="${t.status == 1} ? true : false">IN TEST</option>
                                                <option value="2" th:selected="${t.status == 2} ? true : false">DONE</option>
                                                <option value="3" th:selected="${t.status == 3} ? true : false">FAILED</option>
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <button
                                                    type="button"
                                                    class="btn btn-secondary"
                                                    data-dismiss="modal"
                                            >
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-success">update task</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div
            class="modal fade"
            id="addFolderModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addFolderModalLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addFolderModalLabel">ADD NEW FOLDER</h5>
                    <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/addTask">
                    <div class="modal-body">

                        <div class="form-group">
                            <!--                            <label>-->
                            <!--                                <select name="folder.id" class="form form-select" >-->
                            <!--                                    <option  th:value="${folder.id}" th:text="${folder.name}">title</option>-->
                            <!--                                </select>-->
                            <!--                            </label>-->

                            <input type="hidden" name="folder.id" th:value="${folder.id}">


                            <input type="hidden" name="status" th:value="${0}">

                            <label for="folderName">Task name</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="folderName"
                                    name="title"
                                    placeholder="Enter task name"
                            />
                        </div>
                        <div data-mdb-input-init class="form-outline">
                            <label class="form-label" for="textAreaExample">Message</label>
                            <textarea class="form-control" name="description" id="textAreaExample" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                        >
                            Close
                        </button>
                        <button type="submit" class="btn btn-success">Add Task</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div
            class="modal fade"
            id="deleteFolder"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addFolderModalLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">DELETE FOLDER</h5>
                    <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/deleteFolder">
                    <div class="modal-body">
                        <input type="hidden" name="id" th:value="${folder.id}">
                        <label>Are you really wnt to delete folder?</label>
                    </div>
                    <div class="modal-footer">
                        <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                        >
                            Close
                        </button>
                        <button type="submit" class="btn btn-success">Delete Folder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
</html>
